<section class="background-image py-5">
  <div class="container">
    <div class="row align-items-md-center background-image-row">
      <div class="col-md-5 offset-md-7">
        <div class="hero-text">
          <h2 class="background-image-heading pt-lg-5 pt-3 mt-lg-5">Finding Your Perfect Glasses</h2>
          <p class="background-image-text mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at
            iaculis quam. Integer accumsan tincidunt fringilla.</p>
          <button class="btn btn-shop-now text-uppercase px-4 py-2 mb-5">shop now</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="shopping-details py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 col-md-6">
        <div class="media mb-3" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="400">
          <i class="fas fa-bus mr-4 fa-3x"></i>
          <div class="media-body">
            <h5 class="mt-0">Free shipping</h5>
            <p class="free-shipping-text shopping-explanation">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis
              quam. Integer accumsan tincidunt fringilla.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="media mb-3" data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in" data-aos-duration="400">
          <i class="fas fa-undo-alt mr-4 fa-3x"></i>
          <div class="media-body">
            <h5 class="mt-0">Free returns</h5>
            <p class="free-shipping-text shopping-explanation">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis
              quam. Integer accumsan tincidunt fringilla.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="media mb-3" data-aos="fade-up" data-aos-delay="150" data-aos-easing="ease-in" data-aos-duration="400">
          <i class="fas fa-question-circle mr-4 fa-3x"></i>
          <div class="media-body">
            <h5 class="mt-0">customer support</h5>
            <p class="free-shipping-text shopping-explanation">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis
              quam. Integer accumsan tincidunt fringilla.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="categories py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 col-md-6">
       <a href="" class="image-trails"> 
        <figure >
          <img src="assets/women.jpg" alt="women-category" class="category w-100">
          <figcaption class="figcaption">
            <p class="collection-text">collection</p>
            <p class="collection-name">Women</p>
          </figcaption>
        </figure>
       </a>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <figure class="category-container">
          <img src="assets/children.jpg" alt="women-category" class="category w-100">
          <figcaption class="figcaption">
            <p class="collection-text">collection</p>
            <p class="collection-name">Children</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <figure>
          <img src="assets/men.jpg" alt="women-category" class="category w-100">
          <figcaption class="figcaption">
            <p class="collection-text">collection</p>
            <p class="collection-name">Men</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="featured-products py-5">
<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <div class="product-container text-center">
        <p class="section-text">Featured products</p>
      </div>
    </div>
  </div>
</div>
</section>
<section class="sales py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <div class="product-container text-center">
          <p class="section-text">Big Sale!</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center py-lg-5">
      <div class="col-12 col-md-12 col-lg-7 mb-5">
        <img src="assets/blog_1.jpg" alt="sales-photo" class="sales-photo w-100">
      </div>
      <div class="col-12 col-md-12 col-lg-5 text-center">
        <div class="sales-container">
          <p class="sales-heading">50% less in all items</p>
          <p class="sales-explanation shopping-explanation">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis
           ipsum animi deleniti fugiat. Ex, veniam?</p>
          <button class="btn btn-shop-now text-uppercase px-4 py-2 mb-5">shop now</button>
        </div>
      </div>
    </div>
  </div>
</section>
